groups = {
    'remote': {
        'contributor' : {
            'host': '',
            'port': '',
            'user': '',
            'password': '',
            'driver': '',
            'db_name': ''
        },
        'root' : {
            'host': '',
            'port': '',
            'user': '',
            'password': '',
            'driver': '',
            'db_name': ''
        }
    },
    'local': {
        'contributor' : {
            'host': 'localhost',
            'port': '3306',
            'user': '',
            'password': '',
            'driver': 'mysql',
            'db_name': 'promis'
        },
        'root' : {
            'host': 'localhost',
            'port': '3306',
            'user': '',
            'password': '',
            'driver': 'mysql',
            'db_name': 'promis'
        }
    }
};

use = 'local';

def select(permissions, group=use):
    if (permissions in ['root', 'contributor']):
        return groups[group][permissions];
    else:
        raise 'DB CONF:: No such `%s` permissions category' % (permissions);
